@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.home>ul>li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: 300;
}

.home ul li img {
    filter: invert(1);
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    align-items: center;
    font-weight: bold;
    padding-top: 14px;
    padding: 23px 14px;
    font-size: 13px;
}

.heading img {
    width: 32px;
}

.library {
    position: relative;
    min-height: 80vh;
}

.footer {
    display: flex;
    gap: 6px;
    font-size: 9px;
    position: absolute;
    bottom: 0;
    padding: 16px 0;
}

.footer a {
    color: gray;
}


.right {
    position: relative;
    width: 75vw;
    margin: 16px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(32, 31, 31);
}

.header>* {
    padding: 14px 0;
}

.spotifyPlaylist {
    /* font-size: 20px; */
    padding: 16px;
}

.spotifyPlaylist h1 {
    padding: 22px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    margin: 30px;
    flex-wrap: wrap;
    max-height: 60vh;
    overflow-y: scroll;
}

.card {
    width: 160px;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background-color: #232121;
    transition: all .9s;
}

.card:hover{
    cursor: pointer;
    background-color: #5b5a5a;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1ed760;
    border-radius: 50%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 135px;
    right: 19px;
    opacity: var(--a);
    transition: 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signBtn {
    font-weight: 700;
    background-color: #00000000;
    color: #686868;
    border: none;
    font-size: 16px;
    outline: none;
}

.signBtn:hover {
    font-size: 1.1rem;
    cursor: pointer;
    color: white;
}

.logBtn {
    background-color: #fff;
    border-radius: 25px;
    color: black;
    cursor: pointer;
    font-weight: 700;
    padding: 14px 20px;
    width: 79x;
    font-size: 16px;
}

.logBtn:hover {
    font-weight: 300;
    font-size: 17px;
    padding: 14px 24px;
}

.playBar {
    position: fixed;
    bottom: 18px;
    min-height: 40px;
    /* right: 0; */
    filter: invert(1);
    background: #dad5d5;
    border-radius: 10px;
    width: 70vw;
    padding: 12px;
}

.songButton {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 16px;
}

.songList {
    height: 544px;
    overflow-y: auto;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 13px;
    border: 1px solid white;
    justify-content: space-between;
    margin: 12px 0;
    border-radius: 6px;
}

.playNow {
    display: flex;
    /* width: 64px; */
    justify-content: center;
    align-items: center;
}

.playNow span {
    font-size: 14px;
    padding: 12px;
    width: 64px;
    white-space: nowrap;
}


.info {
    font-size: 14px;
    width: 344px;
}

.seekBar {
    height: 2px;
    background-color: rgb(0, 0, 0);
    width: 98%;
    left: 0;
    margin: 6px;
    /* border: 2px solid rgb(0, 0, 0); */
    position: absolute;
    bottom: 3px;
    border-radius: 10px;
    cursor: pointer;
}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songButton img {
    cursor: pointer;
}

.songInfo,
.songTime {
    color: rgb(0, 0, 0);
    padding: 0 12px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.songTime{
    width: 125px;
}

.timeVol{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range input{
    cursor: pointer;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    /* flex-direction: column; */
}


.barBox {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 20px 0;
    width: 100%;
}

.hamBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.hamBurger {
    display: none;
    height: 50px;
    width: 55px;
}

.close {
    display: none;
}

.info{
    word-break: break-all;
    word-wrap: break-word;
}


/* Reponsive media query */
@media (max-width: 1200px) {
    .left {
        background-color: rgb(0, 0, 0);
        position: fixed;
        left: -110%;
        z-index: 1;
        width: 376px;
        height: 100vh;
        transition: all .3s;
        padding: 0;
        top: 0;
    }

    .close {
        position: absolute;
        top: 50px;
        right: 31px;
        display: block;
    }

    .right {
        width: 100vw;
        margin: 0;
    }

    .playBar {
        width: calc(100vw - 59px);
    }

    .seekBar {
        /* margin: 10px 40px; */
        width: calc(100vw - 120px);
    }

    .hamBurger {
        display: block;
    }

    .card {
        width: 54vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;

    }

    .barBox {
        flex-direction: column;
        gap: 22px;
        align-items: center;
    }

    .timeVol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }
}

@media (max-width: 400px){
    .card{
        width: 64vw;
    }
}